<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link  th:href="@{/css/bootstrap.min.css}"
           href="../../css/bootstrap.min.css" rel="stylesheet">    <style>
     .container {
     max-width: 560px;
            }
     label{
        padding: 5px 0px 5px 0px;
     }

     .inputBox{
     padding: 5px 0px 15px 0px;
     }


    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>팝업 스토어 수정 폼</h2>
    </div>
    <form id="popupForm" action="popup-store.html" th:action method="post" onsubmit="return false;" enctype="multipart/form-data">
    <div>
            <label for="popupId">팝업스토어 ID</label>
            <input type="text" id="popupId" name="popupId" class="form-control" value="1"  th:value="${popupStore.id}" readonly>
        </div>
        <div>
            <label for="name">팝업스토어명</label>
            <input type="text" id="name" name="name" class="form-control" value="NULL" th:value="${popupStore.name}">
        </div>
        <div>
            <label for="startDate">시작일</label>
            <input type="text" id="startDate" name="startDate" class="form-control"  value="2000-01-01"  th:value="${startDateNoTime}" >
        </div>
        <div>
            <label for="endDate">종료일</label>
            <input type="text" id="endDate" name="endDate" class="form-control" value="2000-12-31"  th:value="${endDateNoTime}" >
        </div>
        <div class="row">
            <label for="address" class="col-12 col-md-auto">주소</label>
            <div class="col-12 col-md">
                <div class="input-group">
                    <input type="text" id="address" name="address" class="form-control" placeholder="전체 주소를 입력해주세요">
                    <div class="input-group-append " style="margin-left: 6px;">
                        <button type="button" id="validateAddressBtn" class="btn btn-primary btn-valid">검증</button>
                        <button type="button" id="editAddressBtn" class="btn btn-secondary btn-edit" style="display: none;">수정</button>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="address_wrap">
                    <div class="address_name "> 주소</div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="postcode" name="postcode" readonly>
                        </div>
                        <div class="col">
                            <button onclick="execution_daum_address()" class="w-100 btn btn-primary btn-lg"> 주소 찾기</button>
                        </div>
                        <div class="clearFix"></div>
                    </div>
                        <div class="address_input_2_box">
                            <input type="text" class="form-control" id="address" name="address" readonly>
                        </div>
                        <div class="address_input_3_box">
                            <input type="text" class="form-control" id="detailAddress" name="detailAddress" readonly>
                        </div>
                </div>-->


        <div>
            <label for="operatingTime">운영 시간</label>
            <input type="text" id="operatingTime" name="operatingTime" class="form-control" th:value="${popupStore.operatingTime}"   >
        </div>
        <div>
            <label for="url">공식 URL</label>
            <input type="text" id="url" name="url" class="form-control" value="https://gagopop.kro.kr"   th:value="${popupStore.snsLink}" >
        </div>
        <div>
            <label for="info">기타 정보</label>
            <input type="text" id="info" name="info" class="form-control" th:value="${popupStore.info}"   >
        </div>
        <div>
            <label for="img"> 현재 이미지 </label>
            <div class="input-group mb-3">
                <img src="" th:src="${popupStore.imageUrl}"alt="팝업스토어 이미지">
            </div>
            <label for="img"> 다른 이미지로 변경</label>
            <div>
                <input type="file"  name="img" class="form-control" id="img" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
            </div>
        </div>

        <div class="row" style="margin-top: 10px; ">
            <div class="col">
                <div>
                    <label for="isPromoted">홍보</label>
                    <input class="form-check-input" type="checkbox" id="isPromoted" name="isPromoted" value="true" th:checked="${popupStore.isPromoted}" >
                </div>
            </div>
            <div class="col">
                <div>
                    <label for="isClosed">임시 휴업</label>
                    <input class="form-check-input" type="checkbox"  id="isClosed" name="isClosed" value="true" th:checked ="${isClosed}" >
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button id="send" class="w-100 btn btn-primary btn-lg" >저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='popup-stores.html'"
                        th:onclick="|location.href='@{/admin/popup/{popupId}(popupId=${popupStore.id})}'|"
                        type="button">취소</button>            </div>
        </div>
    </form>
</div>
</body>
<!--
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
-->
<script>
         document.getElementById("validateAddressBtn").addEventListener("click", function () {
    var addressInput = document.getElementById('address');
    var address = addressInput.value.trim();

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/validate-address", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.valid) {
                addressInput.readOnly = true;
                document.getElementById("editAddressBtn").style.display = 'inline';
                document.getElementById("validateAddressBtn").style.display = 'none';
                alert('주소가 정상적으로 검증되었습니다.');
            } else {
                alert('주소가 잘못되었습니다. 다시 확인해주세요.');
            }
        }
    };
         xhr.send(JSON.stringify({ address: address }));
    });

    document.getElementById("editAddressBtn").addEventListener("click", function () {
        var addressInput = document.getElementById('address');
        addressInput.readOnly = false;
        this.style.display = 'none';
        document.getElementById("validateAddressBtn").style.display = 'inline';
    });

    document.getElementById("send").addEventListener("click", function (event) {
        event.preventDefault();
        var form = document.getElementById('popupForm');
        var addressInput = document.getElementById('address');

        // Validate start date format
        var startDateInput = document.getElementById('startDate');
        var endDateInput = document.getElementById('endDate');
        if (!isValidDateFormat(startDateInput.value)) {
            alert('시작일의 형식이 올바르지 않습니다. yyyy-MM-dd 형식으로 입력해주세요.');
            return;
        }
        if (!isValidDateFormat(endDateInput.value)) {
            alert('종료일의 형식이 올바르지 않습니다. yyyy-MM-dd 형식으로 입력해주세요.');
            return;
        }

        if (addressInput.readOnly) {
            form.submit();
        } else {
            alert('주소를 검증해주세요.');
        }
    });

    function isValidDateFormat(dateString) {
        var dateFormat = /^\d{4}-\d{2}-\d{2}$/;
        return dateFormat.test(dateString);
    }


    /* 다음 주소 연동 */
/*    function execution_daum_address(){
        new daum.Postcode({
        oncomplete: function(data) {
             // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    //document.getElementById("sample6_extraAddress").value = extraAddr;
                    addr += extraAddr;
                
                } else {
                    //document.getElementById("sample6_extraAddress").value = '';
                    addr += ' ';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();  
    } */
 

</script>
</html>