<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2> 관리자 로그인</h2>
  </div>
  <hr class="my-4">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/oauth2/authorization/google'" type="button">관리자 구글 로그인</button>
    </div>
</div> <!-- /container -->
</body>
</html>